@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f1ee;
  --foreground: #171717;
  --font-baskervville: 'Baskervville';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply font-baskervville;
  color: var(--foreground);
  background: var(--background);
}